# git config --global user.name "gondo"
# git config --global user.email "331103+gondo@users.noreply.github.com"

credential.helper=osxkeychain
user.signingkey=/Users/gondo/.ssh/github-2022.pub
core.excludesfile=~/.gitignore_global
core.ignorecase=true
core.editor=vi
init.defaultbranch=main
commit.gpgsign=true
gpg.format=ssh
url.ssh://git@gitlab.com/.insteadof=https://gitlab.com/
url.ssh://git@bitbucket.org/.insteadof=https://bitbucket.org/
url.git@github.com:.insteadof=https://github.com/
url.git@bitbucket.org:.insteadof=https://bitbucket.org/
alias.lg=log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit