Host *
    ControlMaster auto
    ControlPath ~/.ssh/tmp/cm_socket_%r@%h:%p
    ControlPersist yes
    ControlPersist 30m
    AddKeysToAgent yes
    UseKeychain yes

Host appio
    HostName 18.117.234.54
    IdentityFile ~/.ssh/aws-appio.pem
    IdentitiesOnly yes
    User ec2-user

Host obcan.app
    HostName 54.247.73.213
    IdentityFile ~/.ssh/obcan.app.pem
    IdentitiesOnly yes
    User ec2-user

Host github.com
    IdentityFile ~/.ssh/github-macbook-m4
    IdentitiesOnly yes
    User git

Host katastr.wedos
    HostName 31.31.78.102
    IdentityFile ~/.ssh/katastr-wedos
    IdentitiesOnly yes
    User gondo

